body{
    background-image: linear-gradient(to right, rgb(0, 221, 255) , rgb(155, 226, 90));
    font-family: 'Courier New', Courier, monospace;
}

.main-container{
  background-color: whitesmoke;
  border-radius: 20px;
  margin-top: 10%;
  padding: 20px;
}

.Error-Message{
background-color: none;
text-align: center;
}
