<div class="container main-container align-middle bg-light align-self-center">
  <h1> New Feature </h1>
  <%= render 'form', feature: @feature %>
  <%= link_to 'Back', plan_features_path, class: "action btn btn-primary" %>
</div>
